<h2>Post Index</h2>
<%= link_to 'Add a New Post', new_post_path %>

<ol>
  <% @posts.each do |p| %>
    <li>
      <p><%= link_to p.title, post_path(p) %></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by: <%= p.author %></p>
      <%= link_to 'Edit', edit_post_path(p) %>
      <%= link_to 'Delete', post_path(p),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ol>
